[Unit]
Description=racetime.gg bot for the Ocarina of Time Randomizer's Random Settings League
Documentation=https://github.com/fenhl/rslbot
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=1
ExecStartPre=/usr/bin/git pull --ff-only
ExecStartPre=+/usr/bin/python3 -m pip install -e .
ExecStart=/usr/local/bin/randobot assets/ootr-api-key.txt ootr DGgAUaeDds43ctuoGMeFiOVUM7W5g2bkmlOKoKqo assets/racetime-client-secret.txt
User=fenhl
Group=fenhl
WorkingDirectory=/opt/git/github.com/fenhl/rslbot/master

[Install]
WantedBy=multi-user.target
